.homePageContainer{
  background-color: #1C1F27;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  color: white;
}

.navBarContainer{
  width: 100%;
  height: 65px;
  background-color: #1c1f27;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navBarContent{
  width: 80%;
  font-size: 1.2rem;
  font-weight: bold;
}

.lineSepeartor{
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, #695BB8 , #E2783D);
}

.mainContainer{
  width: 100%;
  height: 100vh;
  background-image: url("../../images/block.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContent{
  width: 80%;
  display: flex;
  /* background-color: #1c1f27; */
  flex-direction: column;
  align-items: center;
}

.tagLine {
  font-family: "Lobster Two", cursive;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  background: -webkit-linear-gradient(rgb(196, 113, 255), rgb(243, 169, 83));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 75%;
  word-wrap: normal;
  padding: 30px;
}

.registerBtn{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 40px;
  cursor: pointer;
  background-color: rgb(196, 113, 255);
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.registerBtn:hover{
  background-color: rgb(142, 67, 196);
}


@media all and (max-width: 600px) {
  .tagLine{
    font-size: 2rem;
  }    
}

@media all and (max-width: 500px) {
  .tagLine{
    font-size: 1.5rem;
  }    
}

/* .allContent {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/bc2.png");
  height: 100vh;
  background-size: cover;
  justify-content: center;
}

.registerBtn {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2em;
  padding: 10px 40px;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
.registerBtn:hover {
  background-image: linear-gradient(to right, indigo, rgb(243, 169, 83));
}
.button {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.secondItem {
  height: 500px;
  background-color: #1c1f27;
}
.tagLine {
  font-family: "Lobster Two", cursive;
  font-size: 1.5em;
  font-weight: 100;
  background: -webkit-linear-gradient(rgb(196, 113, 255), rgb(243, 169, 83));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 75%;
  word-wrap: normal;
  padding: 30px;
}
.topBar {
  background-color: #1c1f27;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.projectName {
  margin-left: 100px;
  font-size: 1.4em;
}
.mainHead {
  color: White;
  font-size: 1.2em;
  padding: 0px 10px;
  margin: 20px 0px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.line {
  height: 5px;
  background-image: linear-gradient(to right, indigo, rgb(255, 136, 0));
} */
