.registerOrgPageContainer {
  background-color: #1c1f27;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.registerContentContainer {
  flex: 4;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.infoContentContainer {
  flex: 2;
  background-color: #2a2d37;
  color: #ffffff;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: bold;
}

.textContent {
  max-width: 50rem;
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.endSeperator {
  width: 80px;
  height: 0.5rem;
  background-color: white;
  border-radius: 50vh;
}

.registrationForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  max-width: 600px;
  color: white;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.rowInputGroup {
  flex-direction: row;
  align-items: center;
}

.spanInputGroup {
  grid-column: 1/3;
}

.addressInput {
  height: 6rem;
  resize: none;
}

.inputLabel {
  margin-bottom: 0.2rem;
}

.customInput {
  width: 100%;
  padding: 12px;
  background-color: #2a2d37;
  outline: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  border-bottom: 4px #525252 solid;
}

.customCheckInput {
  margin-right: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}


.uploadFileBtn {
  cursor: pointer;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #2a2d37;
  color: rgb(187, 187, 187);
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUploadInput {
  display: none;
}

.registerBtn {
  cursor: pointer;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #e3e3e3;
  color: #1c1f27;
  font-weight: bold;
  font-size: 1.1rem;
}

@media all and (max-width: 600px) {
  .registerOrgPageContainer {
    flex-direction: column-reverse;
    overflow-y: scroll;
  }
  .registerContentContainer {
    overflow: unset;
  }
  .registrationForm {
    display: grid;
    grid-template-columns: 1fr;
  }
  .spanInputGroup {
    grid-column: 1/2;
  }
}
.eduImage {
  width: auto;
  margin: auto;
  height: 250px;
}
.crimeImage {
  width: auto;
  margin: auto;
  height: 250px;
}
.mediImage {
  width: auto;
  margin: auto;
  height: 250px;
}
