.orgHomePageContainer{
    background-color: #1C1F27;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    color: white;
}

.orgHomeContent{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.orgNameContainer{
    display: flex;
    align-items: center;
}

.heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.verifyIcon{
    height: 1.5rem;
    width: 1.5rem;
    /* background-color: rgb(33, 120, 219); */
    border-radius: 50vh;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verifyIcon{
    height: 1.5rem;
    width: 1.5rem;
}

.orgType{
    font-size: 1.2rem;
}

.orgDesc{
    max-width: 50rem;
    margin-bottom: 3rem;
}

.recordsActions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recordActionCard{
    width: 300px;
    user-select: none;
    cursor: pointer;
    background-color: #2A2D37;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 1px;
    transition: all 0.5s ease;
}

.recordActionCard:hover{
    background-color: #E3E3E3;
    color: #1C1F27;
}

.textWarning{
    font-style: italic;
    color: red;
}